* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#converter_Cont {
    display: block;
    width: 300px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 50px;
}

/* Fahrenheit to Celsius */
#Fah-Cel_Cont {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    padding: 20px;

    margin: 20px;
    /* margin-left: 40rem; */
}

#Cel-Fah_Cont {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    padding: 20px;

    margin: 20px;
}

#info_Cont {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}