* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
}

#converter_Cont {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

#converter_Cont h3 {
    margin-bottom: 10px;
}

#returnCelsius,
#returnFahrenheit {
    display: block;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;

}

/** Fahrenheit to Celsius */
#Fah-Cel_Cont {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
}

#Cel-Fah_Cont {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
}

#info_Cont {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px black;
}

#info_Cont h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}